.hidden {
    display: none;
}

img {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
}

form, h2, h1, ul, div {
    position: absolute;
    z-index: 9;
}

form#login-form, h2#clock, form#todo-form, ul#todo-list, h1#greeting, div#quote, div#weather {
    left: 50%;
    transform: translateX(-50%);
}

form#login-form {
    top: 160px;
}
h1#greeting {
    top:120px;
    color: #fff;
}

h2#clock {
    top: 60px;
    font-size: 30px;
    color: #fff;
}

form#todo-form {
    top:200px;
}

ul#todo-list {
    top:220px;
}

div#quote {
    bottom: 100px;
    color: #fff;
}

div#weather {
    bottom: 30px;
    color: #fff;
}
